# Entornos virtuales
env/
venv/
__pycache__/

# Datasets y tensores generados
*.pt
*.pth
*.jpg
*.jpeg
*.png
Bolsas_MIL_Procesadas/
dataset/
data/
images/

# Archivos de sistema operativo y VS Code
.vscode/
.DS_Store