# Entornos virtuales
env/
venv/
__pycache__/

# Datasets y tensores generados
*.pt
*.pth
*.jpg
*.jpeg
*.png
Bolsas_MIL_Procesadas/
dataset/
data/
images/
CO-MIL/custom_classes.json

# Empaquetado desktop
build/
dist/
*.spec

# Archivos de sistema operativo y VS Code
.vscode/
.DS_Store
